/* Styles globaux */
:root {
    view-transition-name: root;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeanLuc Thin';
    src: url('../fonts/JeanLuc-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@view-transition {
    navigation: auto;
}



$primary-color: #3498db;
$primary-font: 'Apercu Mono', Arial, sans-serif;
$title-font: 'JeanLuc Thin', Arial, sans-serif;
$background-green: #23b388;
$background-blue: #1531ec;
$carte-yellow-background: #ffd700;
$carte-blue-background: #87ceeb;
$carte-pink-background: #ff69b4;
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: $primary-font;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* iOS overflow scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    overscroll-behavior: none; /* Désactiver le défilement élastique */
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
// Prealoader
.cedille {
    position: relative; /* Nécessaire pour positionner le pseudo-élément relativement à l'élément .cedille */
}

.cedille::after {
    content: '';
    position: absolute;
    bottom: 1px !important;
    left: 50%;
    transform: translateX(-50%); /* Centre le trait sous la lettre "C" */
    bottom: -3px; /* Ajustez cette valeur pour rapprocher ou éloigner le trait de la lettre */
    width: 20px; /* Largeur du trait */
    height: 5px; /* Épaisseur du trait */
    background-color: black; /* Couleur du trait */
}
/* Styles pour le preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Assurez-vous qu'il est au-dessus de tout */
    opacity: 1;
}

#preloader .title-container {
    transform: scale(2);
}

#preloader h1{
    font-family: 'JeanLuc Thin';
    font-size: 350%;
}

/* Styles pour la page d'accueil */
body.index-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

/* Header de la page */
.index-header {
    text-align: center;
    padding: 10px;
    height: 6vh !important;
    position: sticky;  /* Permet au header de rester collé en haut lors du défilement */
    top: 0;
    background-color: white;  /* Fond pour éviter le chevauchement avec le contenu */
    z-index: 1000;  /* Assure que le header reste au-dessus des autres éléments lorsqu'il devient sticky */
}

.index-logo {
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    font-size: 4rem;
    position: relative;
    top: -50px !important;
    color: black;
    transform: scale(0.3);
}

.index-logo .index-highlight {
    font-weight: bold;
    font-size: 10rem;
    position: relative;
    top: 40px !important;
}

.index-section {
    position: relative;
    margin: 0 2px;
    width: 33%; /* Chaque section prend un tiers de la largeur de l'écran */
    height: 100vh; /* La hauteur est égale à la hauteur de l'écran */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; /* Les sections sont flottées pour être côte à côte horizontalement */
    transition: background-color 0.5s ease;

    /* Pseudo-élément pour l'animation du fond */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        background-color: white;
        z-index: 0;
        transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
        width: 0%;
    }

    /* Animation venant de la gauche */
    &.hover-from-left:before {
        left: 0;
        right: auto;
        width: 100%;
    }

    /* Animation venant de la droite */
    &.hover-from-right:before {
        right: 0;
        left: auto;
        width: 100%;
    }

    /* Fermeture après hover depuis la gauche */
    &:not(:hover).hover-from-left:before {
        left: 0;
        right: auto;
        width: 0%;
    }

    /* Fermeture après hover depuis la droite */
    &:not(:hover).hover-from-right:before {
        right: 0;
        left: auto;
        width: 0%;
    }

    .index-content {
        position: relative;
        z-index: 1;
        color: black;
    }
}


#index-section-1 {
    background-image: url('../img/background/section-1.jpg'); /* Image pour la section 1 */
}

#index-section-2 {
    background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 */
}

#index-section-3 {
    background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 */
    background-position: left;
}

/* Contenu des sections invisible par défaut */
.index-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white; /* Texte blanc par défaut */
    font-size: 5rem;
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    opacity: 0; /* Contenu invisible par défaut */
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out; /* Transition pour l'apparition du contenu et changement de couleur */
}

/* Apparition du contenu et changement de couleur au survol */
.index-section:hover .index-content {
    opacity: 1; /* Le contenu devient visible au survol */
    color: black; /* Le texte devient noir quand le fond est blanc */
}

/* Responsive Media Query pour les tablettes */
@media (max-width: 768px) {

    .title-container {
        transform: scale(0.9) !important;
    }

    .index-section {
        width: 100%; /* Chaque section prend toute la largeur de l'écran */
        height: 33vh; /* La hauteur est un tiers de la hauteur de l'écran */
        float: none; /* Retrait du flottement pour l'empilement vertical */
        margin: 2px 0;
    }

    #index-section-1 {
        background-image: url('../img/background/background-mobile.png'); /* Image pour la section 1 en mobile */
    }

    #index-section-2 {
        background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 en mobile */
        background-size: 200%;
    }

    #index-section-3 {
        background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 en mobile */
    }

    .index-content {
        font-size: 4rem; /* Ajuster la taille du texte pour les tablettes */
    }
}

@media (max-width: 480px) {
    .index-header {
        padding: 10px;
        height: 15vh;
    }

    .index-logo {
        font-size: 2.5rem;
        top: -60px; /* Ajustement supplémentaire pour les écrans très petits */

        .index-highlight {
            font-size: 5rem;
            top: 30px; /* Ajustement supplémentaire pour la position relative de .index-highlight */
        }
    }
}



/* Styles pour restaurant.html */
body.restaurant-body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Styles */
.restaurant-nav {
    background: #000;
    position: fixed;
    font-family: 'Apercu Mono';
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 6vh;
    display: flex; /* Aligns nav items to full height */

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%; /* Assurez-vous que ul prend toute la hauteur de la nav */
    }

    li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; /* Centre le contenu horizontalement */
        height: 100%; /* Prendre toute la hauteur de la nav */
    }

    a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: flex; /* Utilisez flex pour centrer le texte */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        padding: 10px;
        width: 100%;
        height: 100%;

        &.active {
            background: #fff;
            color: #000;
        }

          /* Positionnement du bouton Play/Pause */
          .nav-play-pause {
            position: absolute;
            right: -40px; /* Positionné à droite du lien "Radio" */
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 1.2rem;
            z-index: 2; /* Bouton Play/Pause au-dessus */
            transition: transform 0.3s ease;
        }

        /* Quand l'icône change de play à pause, le texte "Radio" se décale légèrement vers la gauche */
        .fa-pause {
            transform: scale(1.2); /* Agrandir l'icône pause */
            transition: transform 0.3s ease;
        }

        /* Déplacer le lien "Radio" quand l'icône change */
        .nav-play-pause.fa-pause ~ a {
            transform: translateX(-10px); /* Décale "Radio" vers la gauche */
        }

        /* Bouton Play/Pause au hover */
        .nav-play-pause:hover {
            color: yellow; /* Couleur au hover */
        }
    }
}

/* Carousel Section Styles */
.carousel-section {
    position: relative;
    width: 100%;
    height: 50vh; /* Ajuster la hauteur selon vos besoins */
}

// .swiper-container {
//     width: 100%;
//     height: 100%;
// }

// .swiper-slide {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: #000; /* Pour montrer une couleur de fond pendant le chargement des images */
// }

// .swiper-slide img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.carousel-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    z-index: 10;
}

/* Section Styles */
.restaurant-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restaurant-content {
    z-index: 1;
    text-align: center;
    color: black;
    padding: 10vh 40px;
    background-color: #f5685d;
    width: 100%;
}

.restaurant-title {
    font-family: $title-font;
    font-size: 9vw;
    margin: 0;
    margin-bottom: 0.5vw;
}

.restaurant-description {
    font-family: $title-font;
    font-size: 7vw;
    margin: -10px;
}

.restaurant-image {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.restaurant-buttons {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajuster l'espacement entre les boutons */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; 
}

.restaurant-button {
    padding: 20px 40px;
    font-size: 2vw;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: 'Apercu Mono';

    &:hover {
        background-color: white;
        color: black;
    }

    a{color: #fff;}

    a:hover{
        color: #000;
    }
}

@media (max-width: 768px) {
    .restaurant-button {
        font-size: 3vw;
        padding: 15px 30px;
    }

    .restaurant-buttons {
        gap: 100px; /* Réduire l'espacement entre les boutons */
    }
}

@media (max-width: 480px) {
    .restaurant-button {
        font-size: 4vw;
        padding: 10px 20px;
    }

    .restaurant-buttons {
        gap: 80px; /* Réduire encore plus l'espacement entre les boutons */
    }
}


// Instragram

.manifesto-ig-container {
    padding: 20px;
    background-color: #fff;
    height: 100vh;

    border: 10px solid black;

    .manifesto-ig-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    /* Colonne gauche - Grande image */
    .manifesto-ig-left {
        width: 40%; /* Prend 40% de la largeur */
        height: 100%; /* Prendre toute la hauteur du container */
        margin-right: 10px;

        img {
            width: 100%;
            height: 98.5%;
            object-fit: cover; /* Garde l'image entière et la remplit */
        }
    }

    /* Colonne du milieu - Deux images empilées */
    .manifesto-ig-middle {
        width: 25%; /* Ajustement pour équilibrer avec les autres colonnes */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-right: 10px;

        .manifesto-ig-image {
            flex: 1;
            margin-bottom: 10px; /* Espacement entre les deux images */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    /* Colonne droite - Deux sous-colonnes */
    .manifesto-ig-right {
        width: 35%; /* Ajusté pour que les images rentrent correctement */
        display: flex;
        justify-content: space-between;
        height: 100%;

        /* Sous-colonnes de droite */
        .manifesto-ig-right-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 48%; /* Chaque sous-colonne prend environ 48% */
            height: 100%;

            /* Carrés parfaits pour les images */
            .manifesto-ig-small-image{
                width: 100%;
                padding-bottom: 100%; /* Carré parfait */
                position: relative;
                margin-bottom: 10px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* S'assure que l'image remplit le carré */
                }
            }

            .manifesto-ig-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding-bottom: 100%; /* Carré parfait */
                position: relative;
                margin-bottom: 10px;
            
                /* Logo Instagram */
                .manifesto-ig-instagram-logo {
                    width: 150px;
                    height: 150px;
                    border-radius: 20%;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    margin-bottom: 30px !important;
                    margin: auto;
                }
            
                /* Container du bouton pour le centrer */
                .manifesto-ig-button-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            
                /* Bouton Instagram */
                .manifesto-ig-button {
                    background-color: black;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 50px;
                    font-family: 'Apercu Mono', monospace;
                    font-size: 1.2rem;
                    text-decoration: none;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    text-align: center;
                }
            
                .manifesto-ig-button:hover {
                    background-color: #444;
                }
            }
            
            
        }

        /* Logo Instagram au même format que les images */
        .manifesto-ig-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    /* Media queries pour ajuster en responsive */
    @media (max-width: 1024px) {
        .manifesto-ig-row {
            flex-direction: column;
        }

        .manifesto-ig-left,
        .manifesto-ig-middle,
        .manifesto-ig-right {
            width: 100%;
            height: auto;
        }

        .manifesto-ig-right {
            flex-direction: column;
        }

        .manifesto-ig-right-column {
            width: 100%;
        }
    }
}







@media (max-width: 768px) {
    .restaurant-title {
        font-size: 8vw;
    }

    .restaurant-description {
        font-size: 3vw;
    }

    .restaurant-button {
        font-size: 3vw;
    }

    .restaurant-initial-content h1 {
        font-size: 8vw;
    }

    .restaurant-initial-content h2 {
        font-size: 4vw;
    }

    .restaurant-initial-content p {
        font-size: 3vw;
    }

    .instagram-title {
        font-size: 4vw;
    }

    .instagram-post {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .restaurant-title {
        font-size: 20vw;
    }

    .restaurant-description {
        font-size: 10vw;
    }

    .restaurant-button {
        font-size: 4vw;
    }

    .restaurant-initial-content h1 {
        font-size: 20vw;
    }

    .restaurant-initial-content h2 {
        font-size: 14vw;
    }

    .restaurant-initial-content p {
        font-size: 4vw;
    }

    .instagram-title {
        font-size: 6vw;
    }

    .instagram-post {
        width: 100%;
    }
}

/* Styles pour radio.html */
body.radio-body .transition-content{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'YourPrimaryFont'; /* Assure-toi que cette police est bien importée */
    overflow-y: hidden; /* Désactiver le scroll pour que tout soit centré verticalement */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de 100% pour centrer verticalement */

    .radio-player-info{
        width: 100%;
        margin-top: -150px;
        text-align: center;
    }
}

/* Section centrale pour le logo et le player */
.radio-section {
    width: 100%;
    text-align: center;
}

.radio-title {
    font-size: 15rem; /* Taille plus grande du titre */
    color: white;
    font-family: 'JeanLuc Thin'; /* Police spécifique */
    letter-spacing: 5px;

    span {
        font-size: 6rem; /* Taille réduite pour le sous-titre */
        display: block;
    }
}

/* Styles pour le bouton play/pause */
.radio-button {
    margin: 5vh auto;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.radio-button i {
    font-size: 4rem; /* Taille de l'icône de lecture */
    color: black;
}

/* Ajustements pour les tablettes */
@media (max-width: 1024px) {
    .radio-title {
        font-size: 10rem;
    }

    .radio-title span {
        font-size: 4rem;
    }

    .radio-button {
        width: 120px;
        height: 120px;
        font-size: 2rem;
    }

    .radio-button i {
        font-size: 3rem;
    }
}

/* Ajustements pour les smartphones */
@media (max-width: 768px) {
    .radio-title {
        font-size: 8rem;
    }

    .radio-title span {
        font-size: 3rem;
    }

    .radio-button {
        width: 100px;
        height: 100px;
        font-size: 1.8rem;
    }

    .radio-button i {
        font-size: 2.5rem;
    }
}

/* Ajustements pour les très petits écrans */
@media (max-width: 480px) {
    .radio-title {
        font-size: 6rem;
    }

    .radio-title span {
        font-size: 2rem;
    }

    .radio-button {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
    }

    .radio-button i {
        font-size: 2rem;
    }
}



// RESRERVATION.HTML

// Variables globales
$reservation-background: #bb59c4;
$reservation-text-color: #fff;
$reservation-button-color: #000;




// shop.html
body.shop-body {
    font-family: $primary-font;
    color: #000;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.shop-content {
    text-align: center;
    margin-top: 20vh;
}


.shop-section {
    margin-bottom: 40px;

    .shop-item {
        margin-bottom: 30px;
        height: 30vh;
        
        .shop-item-image {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
        }

        .shop-item-description {
            font-family: $primary-font;
            font-size: 1rem;
            margin-top: 10px;
        }
    }
}

.shop-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 70%;
        height: auto;
    }

    &:hover {
        background-color: lighten(#000, 10%);
    }
}

@media (max-width: 768px) {
    .shop-title {
        font-size: 2rem;
    }

    .shop-item-image {
        max-width: 250px;
    }

    .shop-cart-button {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .shop-title {
        font-size: 1.5rem;
    }

    .shop-item-image {
        max-width: 200px;
    }

    .shop-cart-button {
        width: 40px;
        height: 40px;
    }
}

// POPUP

/* Popup styles */


.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // overflow: auto;
    background-color: rgba(0, 0, 0, 0.99); /* Fond sombre */
}

.popup-content {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 2000;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.close-popup {
    color: white;
    float: right;
    position: relative;
    right: 20px;
    font-size: 38px;
    font-weight: bold;
    z-index: 20000;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}



// Carte.html
/* Scope everything inside .body-cart */
.body-cart {
  
    /* Swiper container styles */
    .swiper-container {
      width: 100%;
      height: 100vh; /* Full viewport height */
      padding: 0;
      margin: 0;
    }
  
    /* Swiper slide styles */
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; /* Ensure the swiper slides take full height and width */
      box-sizing: border-box; /* Avoid extra padding affecting the width */
    }
  
    .swiper-slide img {
        width: 100%; /* 90% width on desktop */
        height: 90%;
        object-fit: cover; /* Ensures the image covers the entire slide */
        display: block; /* Makes sure the margin works */
        margin: 0 auto; /* Centers the image horizontally */
      }
      
      /* Responsive Styling */
      @media (max-width: 768px) {
        .swiper-slide img {
          height: 90vh;  
          width: 90%; /* Reduce the size to 60% on mobile */
          object-fit: contain; /* Keep the entire image in view without cutting */
          margin: 0 auto; /* Centers the image horizontally */
        }
      }
  
    /* Navigation Buttons for Swiper */
    .swiper-controller {
  
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        z-index: 1001;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 18px;
      }
  
      .swiper-button-prev {
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
  
      .swiper-button-next {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
  
      .swiper-button-prev::after {
        content: '<'; /* Left arrow */
      }
  
      .swiper-button-next::after {
        content: '>'; /* Right arrow */
      }
    }
  
    /* Additional responsive styles for smaller buttons */
    @media (max-width: 768px) {
      .swiper-button-prev,
      .swiper-button-next {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
    }
  
    @media (max-width: 480px) {
      .swiper-button-prev,
      .swiper-button-next {
        width: 25px;
        height: 25px;
        font-size: 14px;
      }
    }
  }
  


// Restaurant-2.html

// Corps principal de la page Manifesto
.manifesto-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-y: scroll; // Activer le scroll vertical
    scroll-snap-type: y mandatory; // Défilement vertical obligatoire
    scroll-behavior: smooth; // Transition douce lors du défilement}
}

// Section principale (chaque section occupe 100% de la hauteur de l'écran)
.manifesto-body section {
    height: 100vh !important;
    scroll-snap-align: start; // Permet d'aligner chaque section en début de page
    width: 100%;
    overflow: hidden; // Empêcher le scroll interne
}

// Conteneur des sections
.manifesto-sections-container {
    display: flex;
    margin-top: 6vh;
    width: 100% !important;
    height: 100vh;
    font-family: $title-font;
    margin-bottom: -3vh;
    overflow: hidden; // Désactiver le scroll interne
    border-bottom: 10px solid black;
}

// Chaque section occupe 100% de la hauteur et 33% de la largeur en écran large
.manifesto-section {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

// Style des images dans chaque section (prend toute la largeur et la hauteur)
.manifesto-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

// Contenu des sections
.manifesto-content {
    height: 50%; // Prend la moitié de la section
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Images dans le contenu des sections
.manifesto-content img {
    max-width: 100%; // Assurer que les images sont responsives
    height: auto;
    opacity: 1;
}

// Effet hover pour rendre le contenu plus visible
.manifesto-section:hover .manifesto-content {
    background-color: white; // Fond blanc au hover
}

// Chargement d'images spécifiques à chaque section
#index-section-1 .manifesto-image {
    background-image: url('../img/background/section-1.jpg');
}

#index-section-2 .manifesto-image {
    background-image: url('../img/background/section-2.jpg');
}

#index-section-3 .manifesto-image {
    background-image: url('../img/background/section-3.jpg');
}

// Remplacement des images par les carrés fournis
#index-section-1 .manifesto-content img {
    content: url('./assets/image/square/resto-square.png');
}

#index-section-2 .manifesto-content img {
    content: url('./assets/image/square/les-nicois-square.png');
}

#index-section-3 .manifesto-content img {
    content: url('./assets/image/square/date-square.png');
}

// Media Queries pour tablettes
@media (max-width: 768px) {
    .manifesto-section {
        width: 100%; // Chaque section prend toute la largeur
        height: 30vh; // Hauteur de 30vh sur les tablettes
        margin: 2px 0;
    }

    .manifesto-content img {
        max-width: 130%;
        height: 30vh;
    }
}

// Media Queries pour les petits écrans
@media (max-width: 480px) {
    .manifesto-section {
        height: 30vh;
    }

    .manifesto-content img {
        max-width: 100%;
    }

    .manifesto-image {
        height: 30vh;
    }
}

// Boutons pour les options (carte, réservation)
.restaurant-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.restaurant-button:hover {
    background-color: white;
    color: black;
}

// Conteneur Instagram
.manifesto-ig-container {
    text-align: center;
    margin: 20px 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.manifesto-ig-container h2 {
    font-family: Arial, sans-serif;
    font-size: 150%;
}

#manifesto-ig-username {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: #333;
}

.manifesto-ig-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.manifesto-ig-block-large {
    width: 50%; /* Bloc gauche avec la grande image */
    display: flex;
    justify-content: center;
}

.manifesto-ig-block-medium {
    width: 100%; /* Section avec les deux images empilées */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; /* 50% de la colonne de droite */
}

.manifesto-ig-block-small {
    width: 100%; /* Section avec les trois images empilées */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; /* 50% de la colonne de droite */
}

.manifesto-ig-right-column {
    width: 50%; /* La colonne de droite prend 50% */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manifesto-ig-photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.manifesto-ig-instagram-logo {
    margin-top: 20px;
    text-align: center;
}

.manifesto-ig-instagram-logo img {
    width: 100px;
    height: auto;
}

.manifesto-ig-instagram-logo a {
    display: block;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.manifesto-ig-instagram-logo a:hover {
    color: #000;
}



// Style de la section Swiper
.manifesto-swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden; // Masquer les parties hors viewport
}

// Chaque slide occupe 100% de la largeur et hauteur
.manifesto-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;

    h2, h3, h4, h5 {
        font-family: $title-font;
        font-size: 600% !important;
        text-align: center;
        text-transform: uppercase;
    }
}

// Style des images dans les slides
.manifesto-swiper-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.manifesto-swiper-slide-container-mobile {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Transition fluide pour les slides
.swiper-wrapper {
    transition: transform 0.5s ease-in-out;
}

// Masquer les slides 9 à 12 sur mobile
@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }
}

// Couleurs associées aux images
.text-red {
    color: #FF0000;
}

.text-yellow {
    color: #FFD700;
}

.text-green {
    color: #228B22;
}

.text-brown {
    color: #8B4513;
}

.text-purple {
    color: #800080;
}

.text-violet {
    color: #9400D3;
}

.text-highlight {
    color: #000; // Noir par défaut
}

#logo-manifesto {
    transform: scale(0.4);
    margin: auto;
}

// Media Queries pour les petits écrans
@media (max-width: 768px) {
    h1 {
        font-size: 2.3rem !important;
    }

    .manifesto-sections-container {
        display: block;
        flex-direction: column;
        height: 100vh;
        font-size: 50%;
    }

    .manifesto-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 33.33%;
    }

    .manifesto-content {
        width: 50%;
        height: 33.33vh;

        h1, h2 {
            font-size: 220%;
        }
    }

    .manifesto-image {
        width: 50%;
        height: 33.33vh;
    }

    .manifesto-section-middle .manifesto-subtitle {
        font-size: 1rem !important;
        margin-top: -1px !important;
    }

    .restaurant-buttons button a {
        font-size: 1rem;
    }

    .manifesto-text-big .manifesto-text-block .manifesto-text {
        font-size: 6vw;
    }

    .manifesto-text-big .manifesto-text-block img {
        width: 80%;
        margin: 10px auto;
    }
}

// Popup Reservation 

/* Popup frame avec 50% de largeur et des bordures arrondies */
.popup-reservation-frame {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0); /* Centre la popup horizontalement */
    width: 50%; /* La popup occupe 50% de la largeur de l'écran */
    max-width: 600px;
    background-color: white;
    z-index: 1000;
    border: 2px solid #ccc;
    border-radius: 15px; /* Bordures arrondies */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: 'Apercu Mono' !important;
    display: none;
}

/* En-tête avec bouton pour fermer la popup */
.popup-reservation-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: black;
    border-bottom: 1px solid #ddd;
}

.popup-reservation-close {
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Le contenu de la popup */
.popup-reservation-content {
    padding: 20px;
}

/* Pleine largeur pour le formulaire dans la popup */
.reservation-form-container {
    width: 100%; /* Le formulaire occupe toute la largeur disponible */
}

.reservation-form {
    width: 100%; /* Formulaire en pleine largeur dans la popup */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Centrage et style du texte */
.reservation-form h2 {
    text-align: center;
    font-size: 18px;
}

.reservation-form p {
    text-align: center;
}

/* Espacement des champs du formulaire */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Bouton "Réserver" en noir */
.reservation-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000; /* Noir */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.reservation-button:hover {
    background-color: #333; /* Gris foncé au survol */
}

@media (max-width: 768px) {
    .popup-reservation-frame {
        width: 95%; /* 95% de largeur sur mobile */
        height: 95vh; /* 95% de la hauteur de l'écran */
        top: 2.5%; /* Centrer la popup verticalement */
        left: 2.5%; /* Centrer la popup horizontalement */
        transform: none; /* Pas de translation sur mobile */
        border-radius: 10px; /* Ajuster les bordures arrondies */
    }

    .popup-reservation-content {
        height: calc(100% - 40px); /* Ajuster la hauteur pour laisser de l'espace à l'en-tête */
        overflow-y: auto; /* Activer le défilement si nécessaire */
    }

    .popup-reservation-header {
        height: 40px; /* En-tête plus petit pour les mobiles */
        padding: 10px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    .popup-reservation-close {
        font-size: 24px;
        cursor: pointer;
        color: #555;
    }
}

//  Swxiper Slides 

.manifesto-slide {
    font-family: 'JeanLuc Thin', sans-serif;
    color: #000;
    background-color: red; /* Couleur de fond temporaire pour visualiser */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}

.manifesto-slide h1, .manifesto-slide h2, .manifesto-slide p {
    margin: 1rem 0;
}

.manifesto-slide h1 {
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.manifesto-slide h2 {
    font-size: 3vw;
    margin-top: 0.5rem;
}

.manifesto-slide p {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.manifesto-slide img {
    max-width: 50%;
    height: auto;
    margin-top: 1.5rem;
}

// WIP POPUP

/* Styles pour la popup */
.wip-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 700px;
    height: 90vh;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'JeanLuc Thin';
}

/* Header de la popup */
.wip-popup-header {
    padding: 15px;
    background-color: black;
    color: white;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wip-popup-title {
    font-size: 4rem;
    margin: 0;
}

.wip-popup-close {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    left: 96%;
}

/* Corps de la popup */
.wip-popup-body {
    padding: 20px;
    text-align: center;
}

/* Texte au-dessus et en dessous de l'image */
.wip-popup-text {
    font-size: 4rem;
    margin-top: -30px;
    text-transform: uppercase;
}

.wip-popup-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    .wip-popup {
        width: 95%;
        height: 100vh;
    }

    .wip-popup-header {
        font-size: 1.2rem;
        padding: 10px;
    }

    .wip-popup-close {
        font-size: 1.5rem;
    }

    .wip-popup-body {
        padding: 15px;
    }

    .wip-popup-text {
        font-size: 1.2rem;
    }

    .wip-popup-image {
        width: 100%;
        height: auto;
    }
}

.grab {
    cursor: pointer;  /* Curseur main ouverte */
}

/* Icône de main fermée quand l'utilisateur "grab" */
.grabbing {
    cursor: grabbing;  /* Curseur main fermée */
}

/* Encart Infos collé à gauche */
.index-infos-encart {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.2rem;
    font-family: 'JeanLuc Thin';
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;


}

/* Menu Infos en bas */
.index-infos-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0; /* Initialement masqué */
    height: 30vh; /* Menu hauteur de 30vh */
    background-color: black;
    color: white;
    z-index: 999;
    overflow: hidden; /* Empêcher le débordement */
    transition: width 0.5s ease-in-out; /* Animation de l'élargissement du menu */
    h2, h3 {
        margin-bottom: 10px;
        font-family: 'JeanLuc Thin';
    }
    
    p {
        margin: 0;
        font-family: 'Apercu Mono';

    }
}

.index-infos-menu.active {
    width: 100%; /* Déployer le menu sur toute la largeur */
}

.index-infos-menu-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.index-infos-menu.active .index-infos-menu-content {
    opacity: 1; /* Faire apparaître le contenu après l'animation */
}

.index-infos-left, .index-infos-center, .index-infos-right {
    width: 30%;
}

.index-infos-social-icons img {
    width: 25px;
    margin-right: 10px;
    display: inline-block;
}

.index-infos-social-icons {
    display: flex;
    align-items: center;
}

.index-infos-social-icons a {
    color: white; /* Liens en blanc */
    font-size: 2rem; /* Augmenter la taille des icônes */
    margin-right: 15px; /* Espacement entre les icônes */
    text-decoration: none; /* Retirer la sous-ligne */
}

.index-infos-social-icons a:hover {
    color: #f0f0f0; /* Légère différence de couleur au hover */
}

.index-infos-social-icons i {
    font-size: 2rem; /* Icônes plus grandes */
    color: white; /* Couleur des icônes en blanc */
}

.index-infos-menu a {
    color: white; /* Liens en blanc */
    text-decoration: none; /* Pas de soulignement */
    font-size: 1rem; /* Taille du texte des liens */
}

.index-infos-menu a:hover {
    color: #f0f0f0; /* Légère différence au hover pour les liens */
}


/* Media Queries pour tablettes */
@media (max-width: 1024px) {
    .index-infos-menu-content {
        flex-direction: column; /* Réorganiser en colonne */
        align-items: center; /* Centrer les éléments */
    }

    .index-infos-left, .index-infos-center, .index-infos-right {
        width: 100%; /* Les blocs prennent 100% de la largeur */
        text-align: center; /* Centrer le texte */
        margin-bottom: 20px; /* Espacement en bas */
    }

    .index-infos-social-icons i {
        font-size: 24px; /* Agrandir légèrement les icônes pour les tablettes */
        margin: 0 10px;
    }
}

/* Media Queries pour téléphones mobiles */
@media (max-width: 768px) {
    .index-infos-menu {
        height: 40vh; /* Augmenter la hauteur pour les téléphones */
    }

    .index-infos-social-icons i {
        font-size: 20px; /* Réduire légèrement les icônes pour mobiles */
    }

    .index-infos-left h2, .index-infos-center h3, .index-infos-right h3 {
        font-size: 1.2rem; /* Réduire la taille des titres sur mobiles */
    }

    p {
        font-size: 0.9rem; /* Réduire la taille du texte pour les paragraphes */
    }

    /* Ajout d'un padding supplémentaire pour éviter le chevauchement */
    .index-infos-menu-content {
        padding: 10px;
    }
}

/* Media Queries pour très petits écrans (moins de 480px) */
@media (max-width: 480px) {
    .index-infos-social-icons i {
        font-size: 18px; /* Encore un peu plus petit pour les très petits écrans */
    }

    h2, h3 {
        font-size: 1rem; /* Titres encore plus petits */
    }

    p {
        font-size: 0.8rem; /* Texte encore plus petit */
    }
}

/* Styles pour le bouton Play/Pause dans la navigation */
.nav-play-pause {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3000;
    right: 20px;
}

.nav-play-pause i {
    font-size: 1.2rem;
    color: white; /* Icône en blanc */
}

/* Changement d'apparence du bouton au survol */
.nav-play-pause:hover {
    color: #FFD700; /* Couleur survolée */
}



