/* Styles globaux */
:root {
    view-transition-name: root;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeanLuc Thin';
    src: url('../fonts/JeanLuc-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@view-transition {
    navigation: auto;
}



$primary-color: #3498db;
$primary-font: 'Apercu Mono', Arial, sans-serif;
$title-font: 'JeanLuc Thin', Arial, sans-serif;
$background-green: #23b388;
$background-blue: #1531ec;
$carte-yellow-background: #ffd700;
$carte-blue-background: #87ceeb;
$carte-pink-background: #ff69b4;
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: $primary-font;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* iOS overflow scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    overscroll-behavior: none; /* Désactiver le défilement élastique */
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
// Prealoader
.cedille {
    position: relative; /* Nécessaire pour positionner le pseudo-élément relativement à l'élément .cedille */
}

.cedille::after {
    content: '';
    position: absolute;
    bottom: 2px !important;
    left: 50%;
    transform: translateX(-50%); /* Centre le trait sous la lettre "C" */
    bottom: -3px; /* Ajustez cette valeur pour rapprocher ou éloigner le trait de la lettre */
    width: 20px; /* Largeur du trait */
    height: 7px; /* Épaisseur du trait */
    background-color: black; /* Couleur du trait */
}
/* Styles pour le preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Assurez-vous qu'il est au-dessus de tout */
    opacity: 1;
}

#preloader .title-container {
    transform: scale(2);
}

/* Styles pour la page d'accueil */
body.index-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

/* Header de la page */
.index-header {
    text-align: center;
    padding: 10px;
    height: 6vh !important;
    position: sticky;  /* Permet au header de rester collé en haut lors du défilement */
    top: 0;
    background-color: white;  /* Fond pour éviter le chevauchement avec le contenu */
    z-index: 1000;  /* Assure que le header reste au-dessus des autres éléments lorsqu'il devient sticky */
}

.index-logo {
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    font-size: 4rem;
    position: relative;
    top: -50px !important;
    color: black;
    transform: scale(0.3);
}

.index-logo .index-highlight {
    font-weight: bold;
    font-size: 10rem;
    position: relative;
    top: 40px !important;
}

/* Style des sections */
.index-section {
    position: relative;
    margin:0 2px;
    width: 33%; /* Chaque section prend un tiers de la largeur de l'écran */
    height: 100vh; /* La hauteur est égale à la hauteur de l'écran */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; /* Les sections sont flottées pour être côte à côte horizontalement */
}

#index-section-1 {
    background-image: url('../img/background/section-1.jpg'); /* Image pour la section 1 */
}

#index-section-2 {
    background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 */
}

#index-section-3 {
    background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 */
    background-position: left;
}

/* Contenu des sections invisible par défaut */
.index-section .index-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px white;
    font-size: 5rem;
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    opacity: 0; /* Contenu invisible par défaut */
    transition: opacity 1s ease-in-out; /* Transition pour faire apparaître le contenu */
}

/* Apparition du contenu au survol */
.index-section:hover .index-content {
    opacity: 1; /* Le contenu devient visible au survol */
}

/* Responsive Media Query pour les tablettes */
@media (max-width: 768px) {

    .title-container{
        transform: scale(0.9) !important;
    }

    .cedille::after{
        height: 4px;
        width: 12px;
    }
    .index-header {
        padding: 15px;
        height: 20vh;
    }

    .index-logo {
        font-size: 3rem;
        top: -80px;  /* Ajustement de la position en fonction de la taille d'écran plus petite */

        .index-highlight {
            font-size: 7rem;
            top: 40px;  /* Ajustement de la position relative de .index-highlight */
        }
    }

    /* Mise en page pour les tablettes */
    .index-section {
        width: 100%; /* Chaque section prend toute la largeur de l'écran */
        height: 33vh; /* La hauteur est un tiers de la hauteur de l'écran */
        float: none; /* Retrait du flottement pour l'empilement vertical */
        margin: 2px 0;
    }

    #index-section-1 {
        background-image: url('../img/background/background-mobile.png'); /* Image pour la section 1 en mobile */
    }

    #index-section-2 {
        background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 en mobile */
        background-size: 200%;
    }

    #index-section-3 {
        background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 en mobile */
    }
    .index-section .index-content{
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .index-header {
        padding: 10px;
        height: 15vh;
    }

    .index-logo {
        font-size: 2.5rem;
        top: -60px;  /* Ajustement supplémentaire pour les écrans très petits */

        .index-highlight {
            font-size: 5rem;
            top: 30px;  /* Ajustement supplémentaire pour la position relative de .index-highlight */
        }
    }
}

/* Styles pour restaurant.html */
body.restaurant-body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Styles */
.restaurant-nav {
    background: #000;
    position: fixed;
    font-family: 'Apercu Mono';
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 6vh;
    display: flex; /* Aligns nav items to full height */

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%; /* Assurez-vous que ul prend toute la hauteur de la nav */
    }

    li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; /* Centre le contenu horizontalement */
        height: 100%; /* Prendre toute la hauteur de la nav */
    }

    a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: flex; /* Utilisez flex pour centrer le texte */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        padding: 10px;
        width: 100%;
        height: 100%;

        &.active {
            background: #fff;
            color: #000;
        }
    }
}

/* Carousel Section Styles */
.carousel-section {
    position: relative;
    width: 100%;
    height: 50vh; /* Ajuster la hauteur selon vos besoins */
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* Pour montrer une couleur de fond pendant le chargement des images */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    z-index: 10;
}

/* Section Styles */
.restaurant-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restaurant-content {
    z-index: 1;
    text-align: center;
    color: black;
    padding: 10vh 40px;
    background-color: #f5685d;
    width: 100%;
}

.restaurant-title {
    font-family: $title-font;
    font-size: 9vw;
    margin: 0;
    margin-bottom: 0.5vw;
}

.restaurant-description {
    font-family: $title-font;
    font-size: 7vw;
    margin: -10px;
}

.restaurant-image {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.restaurant-buttons {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajuster l'espacement entre les boutons */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; 
}

.restaurant-button {
    padding: 20px 40px;
    font-size: 2vw;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: 'Apercu Mono';

    &:hover {
        background-color: white;
        color: black;
    }

    a{color: #fff;}

    a:hover{
        color: #000;
    }
}

@media (max-width: 768px) {
    .restaurant-button {
        font-size: 3vw;
        padding: 15px 30px;
    }

    .restaurant-buttons {
        gap: 100px; /* Réduire l'espacement entre les boutons */
    }
}

@media (max-width: 480px) {
    .restaurant-button {
        font-size: 4vw;
        padding: 10px 20px;
    }

    .restaurant-buttons {
        gap: 80px; /* Réduire encore plus l'espacement entre les boutons */
    }
}

/* Initial Restaurant Section */
.restaurant-initial-content {
    background-color: $background-green;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    height: 80vh;

    h1, h2, p {
        margin: 10px 0;
    }


    h2 {
        font-size: 7vw;
        font-family: $title-font;
    }

}

/* Instagram Section */
.instagram-section {
    background-color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}

.instagram-title {
    font-family: $title-font;
    font-size: 2vw;
    color: white;
    margin-bottom: 20px;
}

.instagram-feed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.instagram-post {
    width: calc(33% - 10px);
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}

.instagram-post img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .restaurant-title {
        font-size: 8vw;
    }

    .restaurant-description {
        font-size: 3vw;
    }

    .restaurant-button {
        font-size: 3vw;
    }

    .restaurant-initial-content h1 {
        font-size: 8vw;
    }

    .restaurant-initial-content h2 {
        font-size: 4vw;
    }

    .restaurant-initial-content p {
        font-size: 3vw;
    }

    .instagram-title {
        font-size: 4vw;
    }

    .instagram-post {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .restaurant-title {
        font-size: 20vw;
    }

    .restaurant-description {
        font-size: 10vw;
    }

    .restaurant-button {
        font-size: 4vw;
    }

    .restaurant-initial-content h1 {
        font-size: 20vw;
    }

    .restaurant-initial-content h2 {
        font-size: 14vw;
    }

    .restaurant-initial-content p {
        font-size: 4vw;
    }

    .instagram-title {
        font-size: 6vw;
    }

    .instagram-post {
        width: 100%;
    }
}

/* Styles pour radio.html */
body.radio-body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-blue;
    font-family: $primary-font;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* iOS overflow scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    background-color: #000;
}

.radio-section{
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.radio-title {
    margin-top: 10vh;
    font-size: 8rem !important;
    margin-right: 10px;
    color: white;
    font-family: $title-font;

    span{
        font-size: 3rem !important;
        position: relative;
        bottom: 5vh;
        left: 18px;
    }
}

.radio-player-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-button {
    background-color: black;
    position: absolute;
    top: 25vh;
    color: white !important;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.6s ease;
    color: black;

    i{
        transform: scale(2);
    }
}

.song-info {
    margin-left: 20px;
    font-size: 1.2rem;
}

.song-info p {
    margin: 0;
}

#song-title {
    text-decoration: underline;
    font-size: 1.4rem;
}

/* Media Query pour les tablettes */
@media (max-width: 1024px) {
    .radio-title {
        font-size: 6rem !important;
        margin-top: 8vh;
    }

    .radio-title span {
        font-size: 2.5rem !important;
        bottom: 4vh;
        left: 15px;
    }
}

/* Media Query pour les smartphones */
@media (max-width: 768px) {
    .radio-title {
        font-size: 4.5rem !important;
        margin-top: 6vh;
    }

    .radio-title span {
        font-size: 2rem !important;
        bottom: 3vh;
    }
}

/* Media Query pour les très petits écrans */
@media (max-width: 480px) {
    .radio-title {
        font-size: 4.5rem !important;
        margin-top: 2vh;
    }

    .radio-title span {
        font-size: 1.5rem !important;
        top: 7vh;
        left: -110px !important;
    }
}

/* View transition */
@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes move-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}

// RESRERVATION.HTML

// Variables globales
$reservation-background: #bb59c4;
$reservation-text-color: #fff;
$reservation-button-color: #000;

// Styles pour reservation.html
body.reservation-body {
    background-color: $reservation-background;
    font-family: $primary-font;
    color: $reservation-text-color;
    overflow: hidden;
}

.reservation-section {
    background-color: $reservation-background;
    text-align: center;
    padding: 140px;
    border-radius: 15px;

    @media (max-width: 768px) {
        padding: 100px 20px;
    }

    @media (max-width: 480px) {
        padding: 80px 10px;
    }
}

.title-container{
    width: 100%;
    text-align: center;
}

.reservation-section{
    margin-top: -100px !important;
}

.title {
    font-family: $title-font;
    font-size: 2.5rem;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;

    .highlight {
        font-weight: bold;
        font-size: 7rem;
        position: relative;
        top: 45px;

        @media (max-width: 768px) {
            font-size: 6rem;
            top: 35px;
        }

        @media (max-width: 480px) {
            font-size: 4rem;
            top: 25px;
        }
    }

    @media (max-width: 768px) {
        font-size: 3rem !important;
        bottom: 20px;
    }

    @media (max-width: 480px) {
        font-size: 2rem !important;
        bottom: 4px !important;
    }
}

.title, .sub-title {
    color: black;
}

// Styles pour les formulaires de réservation
.reservation-form-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    height: 60vh;
    margin: 20px 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        margin: 20px 50px;
        height: auto;
    }

    @media (max-width: 480px) {
        margin: 20px 20px;
        padding: 15px;
    }
}

.reservation-form h2 {
    font-family: $title-font;
    color: $reservation-button-color;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}

.reservation-form p {
    font-family: $primary-font;
    color: $reservation-button-color;

    @media (max-width: 768px) {
        font-size: 1rem;
    }

    @media (max-width: 480px) {
        font-size: 0.8rem;
    }
}

.form-group {
    margin-top: 45px;
    margin-bottom: 15px;
    position: relative;

    @media (max-width: 768px) {
        margin-top: 30px;
    }

    @media (max-width: 480px) {
        margin-top: 20px;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: $title-font;
    color: $reservation-button-color;

    @media (max-width: 768px) {
        font-size: 1rem;
    }

    @media (max-width: 480px) {
        font-size: 0.8rem;
    }
}

select {
    width: 100%;
    padding: 10px 5px;
    font-family: $primary-font;
    font-size: 1rem;
    color: $reservation-button-color;
    background-color: transparent; /* Fond transparent */
    border: none;
    border-bottom: 2px solid $reservation-button-color; /* Ligne du bas uniquement */
    border-radius: 0; /* Supprimer les coins arrondis */
    appearance: none; /* Supprime le style par défaut */
    -webkit-appearance: none; /* Pour Safari */
    -moz-appearance: none; /* Pour Firefox */
    background-image: none; /* Supprimer l'image de la flèche par défaut */

    &:focus {
        outline: none;
        border-bottom-color: darken($reservation-button-color, 10%);
    }

    &:hover {
        border-bottom-color: lighten($reservation-button-color, 10%);
    }

    @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 8px 4px;
    }

    @media (max-width: 480px) {
        font-size: 0.8rem;
        padding: 6px 3px;
    }
}

// Style pour ajouter une flèche personnalisée
.form-group::after {
    content: '▼';
    font-size: 0.75rem;
    color: $reservation-button-color;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    @media (max-width: 768px) {
        font-size: 0.6rem;
        right: 8px;
    }

    @media (max-width: 480px) {
        font-size: 0.5rem;
        right: 5px;
    }
}

.reservation-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: $reservation-button-color;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: $title-font;

    &:hover {
        background-color: lighten($reservation-button-color, 10%);
    }

    @media (max-width: 768px) {
        padding: 12px;
        font-size: 0.9rem;
    }

    @media (max-width: 480px) {
        padding: 10px;
        font-size: 0.8rem;
    }
}

.reservation-back-button-container {
    margin: auto;
    text-align: center;
}

.reservation-back-button {
    background-color: $reservation-button-color;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: $title-font;
    width: 12%;
    height: 4vh;

    &:hover {
        background-color: lighten($reservation-button-color, 10%);
    }

    @media (max-width: 768px) {
        width: 20%;
        height: 5vh;
    }

    @media (max-width: 480px) {
        width: 30%;
        height: 6vh;
    }
}


// shop.html
body.shop-body {
    font-family: $primary-font;
    color: #000;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.shop-content {
    text-align: center;
    margin-top: 20vh;
}


.shop-section {
    margin-bottom: 40px;

    .shop-item {
        margin-bottom: 30px;
        height: 30vh;
        
        .shop-item-image {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
        }

        .shop-item-description {
            font-family: $primary-font;
            font-size: 1rem;
            margin-top: 10px;
        }
    }
}

.shop-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 70%;
        height: auto;
    }

    &:hover {
        background-color: lighten(#000, 10%);
    }
}

@media (max-width: 768px) {
    .shop-title {
        font-size: 2rem;
    }

    .shop-item-image {
        max-width: 250px;
    }

    .shop-cart-button {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .shop-title {
        font-size: 1.5rem;
    }

    .shop-item-image {
        max-width: 200px;
    }

    .shop-cart-button {
        width: 40px;
        height: 40px;
    }
}

// POPUP

.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // overflow: auto;
    background-color: rgba(0, 0, 0, 0.99); /* Fond sombre */
}

.popup-content {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 100%;
    border: none;
    z-index: 2000;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.close-popup {
    color: white;
    float: right;
    font-size: 38px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.swiper-controller {

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        z-index: 1000;
        width: 30px;  // Réduire la taille des flèches
        height: 30px;
        background-color: black;  // Fond noir
        color: white;  // Flèches blanches
        border-radius: 4px;  // Optionnel: coins légèrement arrondis
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6px;  // Ajuster la taille des flèches
    }

    .swiper-button-prev {
        left: 10px;  // Ajuster la position du bouton à gauche
    }

    .swiper-button-next {
        right: 10px;  // Ajuster la position du bouton à droite
    }

    .swiper-button-prev::after {
        content: '\276E';  // Flèche gauche
        font-size: 16px;
    }

    .swiper-button-next::after {
        content: '\276F';  // Flèche droite
        font-size: 16px;
    }

}

   // Tablettes
   @media (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 25px;  // Réduire la taille du carré
        height: 25px;
        font-size: 14px;  // Réduire la taille des flèches
    }

    .swiper-button-prev {
        left: -10px;  // Décalage de 10px à gauche
    }

    .swiper-button-next {
        right: -10px;  // Décalage de 10px à droite
    }
}

// Smartphones
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 20px !important;  // Réduire encore la taille du carré
        height: 20px !important;
        font-size: 12px;  // Réduire la taille des flèches
    }

    .swiper-button-prev {
        left: -10px;  // Décalage de 10px à gauche
    }

    .swiper-button-next {
        right: -10px;  // Décalage de 10px à droite
    }
}

// Très petits écrans
@media (max-width: 480px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 15px !important;  // Réduire encore la taille du carré
        height: 15px !important;
        font-size: px;  // Réduire la taille des flèches
    }

    .swiper-button-prev {
        left: -10px;  // Décalage de 10px à gauche
    }

    .swiper-button-next {
        right: -10px;  // Décalage de 10px à droite
    }
}


// Carte.html

.body-cart .swiper-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    // overflow-y: scroll;
}

.body-cart .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    padding: 0 80px;
    overflow: scroll;

    @media (max-width: 768px) {
        padding: 0 40px;
    }

    @media (max-width: 480px) {
        padding: 0 20px;
    }
}


.menu-title,
.boissons-title,
.vins-title {
    font-size: 4rem !important;
    margin-bottom: -5px;
    text-align: left !important;
    width: 100%;
    font-weight: bold;
    font-family: 'JeanLuc Thin';

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
    }
}

.vins-title {
    line-height: 65px;
}


.swiper-slide h3 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'JeanLuc Thin';
    width: 100%;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }
}

.menu-subtitle,
.boissons-subtitle,
.vins-subtitle {
    font-size: 0.8rem;
    margin-bottom: 20px;
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
        font-size: 0.7rem;
    }

    @media (max-width: 480px) {
        font-size: 0.6rem;
    }
}

.menu-item,
.boissons-item,
.vins-item {
    font-size: 0.8rem;
    margin-bottom: 3px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 90%;

    @media (max-width: 768px) {
        font-size: 0.7rem;
    }

    @media (max-width: 480px) {
        font-size: 0.6rem;
    }
}

#swip-1 {
    background-color: $carte-pink-background;
    overflow: hidden;
}

#swip-2 {
    background-color: $carte-yellow-background;
    height: 140vh !important;

    @media (max-width: 768px) {
        height: auto;
    }

    @media (max-width: 480px) {
        height: auto;
    }
}

#swip-3 {
    background-color: $carte-blue-background;
    height: 170vh !important;

    @media (max-width: 768px) {
        height: auto;
    }

    @media (max-width: 480px) {
        height: auto;
    }
}

.mini-title {
    width: 100%;
    text-align: center;
    margin-top: 30px;

    .mini-title-h1 {
        font-family: $title-font;
        font-size: 1rem !important;

        .mini-highlight {
            font-size: 3rem;
            position: relative;
            top: 20px;
        }
    }

    .mini-sub-title {
        font-size: 50%;
    }
}

.price {
    margin-left: auto;
}

/* Responsive styling */
@media (max-width: 768px) {

    .popup-content {
        width: 100%;
    }
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {

    .popup-content {
        width: 100%;
    }
    .swiper-container {
        width: 100% !important;
        margin: auto; /* Le swiper prend 90% de la largeur en mobile */
    }

    .swiper-slide {
        padding: 0 20px;
    }
}

// Restaurant-2.html

.manifesto-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow: scroll;
}

.manifesto-sections-container {
    display: flex;
    margin-top: 6vh;
    width: 100% !important;
    height: 100vh; 
    font-family: $title-font;
}

.manifesto-section {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manifesto-image {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out; /* Transition pour le fondu */
}

.manifesto-content {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

#manifesto-main-content {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 4rem;
    }

    .manifesto-subtitle{
        margin-top: -40px;
    }
}

.manifesto-title {
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
}

.manifesto-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
}

.manifesto-buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.restaurant-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.restaurant-button:hover {
    background-color: white;
    color: black;
}

.manifesto-ig-container{
    // margin-top: 40px !important;
    margin: auto;
    background-color: #000;
    padding: 10px;

    h2{
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: $title-font;
        font-size: 300%;
    }

    #instagram-username {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 10px 10px;
        color: white;
        font-family: $title-font;
    }

    #instagram-feed {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .instagram-image {
        width: 100%;
        height: 0;
        padding-bottom: 100%; /* Carré */
        object-fit: cover;
        position: relative;
    }

    .instagram-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.manifesto-text-big {
    padding: 20px;
    background-color: #fff;
    .manifesto-text-title{
        height: 60vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        h2{
            font-size: 5rem !important;
        }
    }
    
    .manifesto-text-block {
        margin-bottom: 30px;
        text-align: center;

        .manifesto-text {
            font-family: $title-font;
            font-size: 8vw;
            text-transform: uppercase;
            line-height: 1.2;
            margin: 0 0 20px 0;
        }

        img {
            width: 50%;
            margin: 20px 0;
            display: block;
        }
    }
}

// Adding colors to match the image

.text-red {
    color: #FF0000; // Red for "TOMATES"
}

.text-yellow {
    color: #FFD700; // Yellow for "CITRONS"
}

.text-green {
    color: #228B22; // Green for "OLIVES"
}

.text-brown {
    color: #8B4513; // Brown for "POIVRONS"
}

.text-purple {
    color: #800080; // Purple for "AUBERGINES"
}

.text-violet {
    color: #9400D3; // Violet for "FIGUES"
}

.text-highlight {
    color: #000; // Default black, can change if needed
}

.manifesto-text-big {
    padding: 20px;
    background-color: #fff;
    
    .manifesto-text-block {
        margin-bottom: 30px;
        text-align: center;

        .manifesto-text {
            font-family: $title-font;
            font-size: 4rem;
            text-transform: uppercase;
            line-height: 1.2;
            margin: 0 0 20px 0;

            // Ensuring the color is inherited except for spans
            color: inherit;

            span {
                font-weight: bold; // Making the colored spans bold for emphasis
            }
        }

        img {
            width: 50%;
            margin: 20px 0;
            display: block;
        }
    }
}

#logo-manifesto{
    transform: scale(0.4);
    margin: auto;
}


@media (max-width: 768px) {

    h1{
        font-size: 2.3rem !important;
    }
    .manifesto-sections-container {
        display: block; /* Permet de réorganiser les sections en bloc */
        flex-direction: column;
        height: 100vh;
        font-size: 50%;
    }

    .manifesto-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 33.33%;
    }


    .manifesto-content{
        width: 50%;
        height: 33.33vh;
        h1, h2{
            font-size: 220%;
        }
    }

    .manifesto-image{
        width: 50%;
        height: 33.33vh;
    }

    .manifesto-section-middle {
        .manifesto-subtitle{
            font-size: 1rem !important;
            margin-top: -1px !important;
        }
    }

    .restaurant-buttons{
        button{
            a{
                font-size: 1rem;
            }
        }

    }

    .manifesto-text-big {
        .manifesto-text-block {
            .manifesto-text {
                font-size: 6vw;
            }

            img {
                width: 80%;
                margin: 10px auto;
            }
        }
    }
    

}
