/* Styles globaux */
:root {
    view-transition-name: root;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeanLuc Thin';
    src: url('../fonts/jeanlucweb-thin.eot'); /* Fallback pour IE9- */
    src: url('../fonts/jeanlucweb-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jeanlucweb-thin.woff') format('woff'), /* Navigateur modernes */
         url('../fonts/jeanlucweb-thin.otf') format('opentype'), /* OpenType */
         url('../fonts/jeanlucweb-thin.svg#JeanLucThin') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@view-transition {
    navigation: auto;
}



$primary-color: #3498db;
$primary-font: 'Apercu Mono', Arial, sans-serif;
$title-font: 'JeanLuc Thin', Arial, sans-serif;
$background-green: #23b388;
$background-blue: #1531ec;
$carte-yellow-background: #ffd700;
$carte-blue-background: #87ceeb;
$carte-pink-background: #ff69b4;
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: $primary-font;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* iOS overflow scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    overscroll-behavior: none; /* Désactiver le défilement élastique */
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
// Prealoader
.cedille {
    position: relative; /* Nécessaire pour positionner le pseudo-élément relativement à l'élément .cedille */
}

.cedille::after {
    content: '';
    position: absolute;
    bottom: 5px !important;
    left: 52% !important;
    transform: translateX(-50%); /* Centre le trait sous la lettre "C" */
    width: 10.8px; /* Largeur du trait */
    height:3.2px; /* Épaisseur du trait */
    background-color: black; /* Couleur du trait */
}
/* Styles pour le preloader */
/* Styles pour le preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 10000;
    opacity: 1;
}

/* Styles pour le conteneur du logo */
#preloader .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1); /* Ajuste la taille de départ */
}

/* Style du logo */
#preloader .logo {
    max-width: 80%;
    height: auto;
    transform: scale(4);
}

/* Media Queries pour le responsive */
@media (min-width: 768px) {
    #preloader .logo {
        max-width: 40%;
    }
}

@media (min-width: 1200px) {
    #preloader .logo {
        max-width: 20%;
    }
}


/* Styles pour la page d'accueil */
body.index-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

/* Header de la page */
.index-header {
    text-align: center;
    padding: 10px;
    height: 6vh !important;
    position: sticky;  /* Permet au header de rester collé en haut lors du défilement */
    top: 0;
    background-color: white;  /* Fond pour éviter le chevauchement avec le contenu */
    z-index: 1000;  /* Assure que le header reste au-dessus des autres éléments lorsqu'il devient sticky */
}

.index-logo {
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    font-size: 4rem;
    position: relative;
    top: -50px !important;
    color: black;
    transform: scale(0.3);
}

.index-logo .index-highlight {
    font-weight: bold;
    font-size: 10rem;
    position: relative;
    top: 40px !important;
}

.index-section {
    position: relative;
    margin: 0 2px;
    width: 33%; /* Chaque section prend un tiers de la largeur de l'écran */
    height: 100vh; /* La hauteur est égale à la hauteur de l'écran */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; /* Les sections sont flottées pour être côte à côte horizontalement */
    transition: background-color 0.5s ease;

    .hover-background {
        position: absolute;
        top: 0;
        left: -100%; /* Commence en dehors de la vue */
        width: 100%;
        height: 100%;
        background-color: white;
        transition: left 0.3s ease; /* Vitesse de l'animation du hover */
        z-index: 1;
    }

    .index-content {
        position: relative;
        z-index: 1;
        color: black;
        z-index: 2;
    }
}





#index-section-1 {
    background-image: url('../img/background/section-1.jpg'); /* Image pour la section 1 */
}

#index-section-2 {
    background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 */
}

#index-section-3 {
    background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 */
    background-position: left;
}

/* Contenu des sections invisible par défaut */
.index-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white; /* Texte blanc par défaut */
    font-size: 10rem;
    font-family: 'JeanLuc Thin', Arial, sans-serif;
    opacity: 0; /* Contenu invisible par défaut */
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out; /* Transition pour l'apparition du contenu et changement de couleur */
}

/* Apparition du contenu et changement de couleur au survol */
.index-section:hover .index-content {
    opacity: 1; /* Le contenu devient visible au survol */
    color: black; /* Le texte devient noir quand le fond est blanc */
}

/* Responsive Media Query pour les tablettes */
@media (max-width: 768px) {

    .title-container {
        transform: scale(0.9) !important;
    }

    .index-section {
        width: 100%; /* Chaque section prend toute la largeur de l'écran */
        height: 33vh; /* La hauteur est un tiers de la hauteur de l'écran */
        float: none; /* Retrait du flottement pour l'empilement vertical */
        margin: 2px 0;
    }

    #index-section-1 {
        background-image: url('../img/background/background-mobile.png'); /* Image pour la section 1 en mobile */
    }

    #index-section-2 {
        background-image: url('../img/background/section-2.jpg'); /* Image pour la section 2 en mobile */
        background-size: 200%;
    }

    #index-section-3 {
        background-image: url('../img/background/section-3.jpg'); /* Image pour la section 3 en mobile */
    }

    .index-content {
        font-size: 4rem; /* Ajuster la taille du texte pour les tablettes */
    }
}

@media (max-width: 480px) {
    .index-header {
        padding: 10px;
        height: 15vh;
    }

    .index-logo {
        font-size: 2.5rem;
        top: -60px; /* Ajustement supplémentaire pour les écrans très petits */

        .index-highlight {
            font-size: 5rem;
            top: 30px; /* Ajustement supplémentaire pour la position relative de .index-highlight */
        }
    }
}



/* Styles pour restaurant.html */
body.restaurant-body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Styles */
.restaurant-nav {
    background: #000;
    position: fixed;
    font-family: 'Apercu Mono';
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 6vh;
    display: flex; /* Aligns nav items to full height */

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%; /* Assurez-vous que ul prend toute la hauteur de la nav */
    }

    li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; /* Centre le contenu horizontalement */
        height: 100%; /* Prendre toute la hauteur de la nav */
        /* Alignement des boutons Play/Pause et Volume */
        .nav-radio-controls {
            display: inline-flex; /* Aligner les boutons en ligne */
            align-items: center;
            position: relative;
            left: -35%;
            gap: 10px; /* Espace entre les deux boutons */
            margin-left: 10px; /* Ajoute un petit espace entre le texte "Radio" et les boutons */
        }
        
        .nav-play-pause, .nav-radio-button {
            background: none;
            border: none;
            cursor: pointer;
            color: white; /* Couleur blanche pour les deux boutons */
            font-size: 1.2rem; /* Taille des icônes */
            display: flex;
            align-items: center;
            padding: 0;
        }
        
        .nav-play-pause i, .nav-radio-button i {
            font-size: 1.2rem; /* Assure que les icônes soient de la même taille */
        }
        
        /* Responsivité */
        @media (max-width: 768px) {
            .nav-radio-controls {
                gap: 20px; 
                left: -10%;

            }
        }
        
        
    }

    

    

    a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: flex; /* Utilisez flex pour centrer le texte */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        padding: 10px;
        width: 100%;
        height: 100%;

        &.active {
            background: #fff;
            color: #000;
        }


        /* Quand l'icône change de play à pause, le texte "Radio" se décale légèrement vers la gauche */
        .fa-pause {
            transform: scale(1.2); /* Agrandir l'icône pause */
            transition: transform 0.3s ease;
        }

        /* Déplacer le lien "Radio" quand l'icône change */
        .nav-play-pause.fa-pause ~ a {
            transform: translateX(-10px); /* Décale "Radio" vers la gauche */
        }

        /* Bouton Play/Pause au hover */
        .nav-play-pause:hover {
            color: yellow; /* Couleur au hover */
        }

        
    }

    
}

/* Style pour la popup */
.nav-volume-popup {
    display: none; /* Masquer par défaut */
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    padding: 0px 10px ;
    z-index: 1000;

}

@media (max-width: 768px) {
    .nav-volume-popup {
        top: 50%; /* Centré verticalement */
        left: 50%; /* Centré horizontalement */
        transform: translate(-50%, -50%); /* Centre la popup au milieu de l'écran */
        width: 80%; /* Réduit la largeur pour les petits écrans */
        padding: 10px 20px; /* Ajuste le padding pour mieux occuper l'espace */
        border-radius: 8px; /* Ajoute un léger arrondi */
    }
}


.nav-volume-popup.nav-active {
    display: block; /* Afficher la popup quand elle est active */
}

.nav-volume-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.nav-volume-control .nav-speker {
    font-size: 40px;
    color: black;
    -webkit-text-stroke: 4px white;
    padding: 10px;
}

.nav-control-box.nav-volume-on .nav-volume-control .nav-speker {
    color: white;
}

.nav-volume-control .nav-bars {
    display: flex;
    align-items: flex-end;
    width: 160px;
    height: 40%;
    margin-left: 20px;
}

.nav-volume-control .nav-bars .nav-bar {
    width: 14%;
    margin: 0 3%;
    border: 4px solid white;
    background-color: #000;
    transition: .3s ease-in-out;
}

.nav-volume-control .nav-bars .nav-bar:nth-child(1) {
    height: 20%;
}

.nav-volume-control .nav-bars .nav-bar:nth-child(2) {
    height: 40%;
}

.nav-volume-control .nav-bars .nav-bar:nth-child(3) {
    height: 60%;
}

.nav-volume-control .nav-bars .nav-bar:nth-child(4) {
    height: 80%;
}

.nav-volume-control .nav-bars .nav-bar:nth-child(5) {
    height: 100%;
}

.nav-volume-control .nav-bars input[type=range] {
    position: absolute;
    left: -10%;
    width: 110%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

/* Styles pour remplir les barres en fonction du volume */
.nav-volume-control.nav-volume-20 .nav-bars .nav-bar:nth-child(1),
.nav-volume-control.nav-volume-40 .nav-bars .nav-bar:nth-child(1),
.nav-volume-control.nav-volume-60 .nav-bars .nav-bar:nth-child(1),
.nav-volume-control.nav-volume-80 .nav-bars .nav-bar:nth-child(1),
.nav-volume-control.nav-volume-100 .nav-bars .nav-bar:nth-child(1),

.nav-volume-control.nav-volume-40 .nav-bars .nav-bar:nth-child(2),
.nav-volume-control.nav-volume-60 .nav-bars .nav-bar:nth-child(2),
.nav-volume-control.nav-volume-80 .nav-bars .nav-bar:nth-child(2),
.nav-volume-control.nav-volume-100 .nav-bars .nav-bar:nth-child(2),

.nav-volume-control.nav-volume-60 .nav-bars .nav-bar:nth-child(3),
.nav-volume-control.nav-volume-80 .nav-bars .nav-bar:nth-child(3),
.nav-volume-control.nav-volume-100 .nav-bars .nav-bar:nth-child(3),

.nav-volume-control.nav-volume-80 .nav-bars .nav-bar:nth-child(4),
.nav-volume-control.nav-volume-100 .nav-bars .nav-bar:nth-child(4),

.nav-volume-control.nav-volume-100 .nav-bars .nav-bar:nth-child(5) {
    background-color: white;
}




/* Carousel Section Styles */
.carousel-section {
    position: relative;
    width: 100%;
    height: 50vh; /* Ajuster la hauteur selon vos besoins */
}


.carousel-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    z-index: 10;
}

/* Section Styles */
.restaurant-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.restaurant-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restaurant-content {
    z-index: 1;
    text-align: center;
    color: black;
    padding: 10vh 40px;
    background-color: #f5685d;
    width: 100%;
}

.restaurant-title {
    font-family: $title-font;
    font-size: 9vw;
    margin: 0;
    margin-bottom: 0.5vw;
}

.restaurant-description {
    font-family: $title-font;
    font-size: 7vw;
    margin: -10px;
}

.restaurant-image {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.restaurant-buttons {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajuster l'espacement entre les boutons */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; 
    margin-bottom: 20px;
}

.restaurant-button {
    padding: 20px 40px;
    font-size: 2vw;
    background-color: #000;
    color: #fff !important;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    // border-radius: 5px;
    font-family: 'Apercu Mono';

    &:hover {
        background-color: white;
        color: black;
    }

    a{color: #fff;}

    a:hover{
        color: #000;
    }
}

.restaurant-button a{
    color: white !important;
}

body.popup-active .restaurant-button {
    display: none;
}


/* Style des boutons quand l'info est active */
// .restaurant-button.info-active {
//     background-color: white;
//     a{
//         color: black;
//     }



@media (max-width: 768px) {
    .restaurant-button {
        font-size: 3vw;
        padding: 25px 50px !important;
    }

    .restaurant-buttons {
        gap: 70px; /* Réduire l'espacement entre les boutons */
        bottom: 3vh;
    }
}

@media (max-width: 480px) {
    .restaurant-button {
        font-size: 4vw;
        padding: 20px 40px !important;
    }

    .restaurant-buttons {
        gap: 50px; /* Réduire encore plus l'espacement entre les boutons */
    }
}




@media (max-width: 480px) {
    .restaurant-title {
        font-size: 20vw;
    }

    .restaurant-description {
        font-size: 10vw;
    }

    .restaurant-button {
        font-size: 4vw;
    }

    .restaurant-initial-content h1 {
        font-size: 20vw;
    }

    .restaurant-initial-content h2 {
        font-size: 14vw;
    }

    .restaurant-initial-content p {
        font-size: 4vw;
    }

    .instagram-title {
        font-size: 6vw;
    }

    .instagram-post {
        width: 100%;
    }
}


// RESRERVATION.HTML

// Variables globales
$reservation-background: #bb59c4;
$reservation-text-color: #fff;
$reservation-button-color: #000;




// shop.html
body.shop-body {
    font-family: $primary-font;
    color: #000;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.shop-content {
    text-align: center;
    margin-top: 20vh;
}


.shop-section {
    margin-bottom: 40px;

    .shop-item {
        margin-bottom: 30px;
        height: 30vh;
        
        .shop-item-image {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
        }

        .shop-item-description {
            font-family: $primary-font;
            font-size: 1rem;
            margin-top: 10px;
        }
    }
}

.shop-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 70%;
        height: auto;
    }

    &:hover {
        background-color: lighten(#000, 10%);
    }
}

@media (max-width: 768px) {
    .shop-title {
        font-size: 2rem;
    }

    .shop-item-image {
        max-width: 250px;
    }

    .shop-cart-button {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .shop-title {
        font-size: 1.5rem;
    }

    .shop-item-image {
        max-width: 200px;
    }

    .shop-cart-button {
        width: 40px;
        height: 40px;
    }
}

// POPUP

/* Popup styles */

.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre plus visible */
}

.popup-content {
    background-color: transparent; /* Rendre l'arrière-plan transparent */
    margin: 0; /* Supprime toutes les marges */
    padding: 0; /* Supprime tous les espacements internes */
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer le swiper verticalement */
    z-index: 2000;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

/* Positionner le bouton de fermeture en haut à droite */
.close-popup {
    position: absolute;
    top: 20px; /* Position en haut de l'écran */
    right: 20px; /* Position à droite de l'écran */
    color: white;
    font-size: 38px;
    font-weight: bold;
    z-index: 20000;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

/* Configuration du Swiper pour qu'il occupe toute la place */
.swiper-container {
    width: 100%;
    height: 100%; /* Prend toute la hauteur */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que les images s'adaptent sans déformation */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



// Carte.html
/* Scope everything inside .body-cart */
.carte-body {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 90000000;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles pour mobile (4 slides) */
.carte-swiper-mobile {
    display: none;
}

/* Styles pour desktop (3 slides) */
.carte-swiper-desktop {
    display: none;
}

/* Media queries pour gérer les swipers */

@media (max-width: 768px) {
    .carte-swiper-mobile {
        display: block;
    }
    .carte-swiper-desktop {
        display: none;
    }
}

@media (min-width: 769px) {
    .carte-swiper-mobile {
        display: none;
    }
    .carte-swiper-desktop {
        display: block;
    }
}


// Restaurant-2.html

// Corps principal de la page Manifesto
.manifesto-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow-y: scroll; // Activer le scroll vertical
    scroll-snap-type: y mandatory; // Défilement vertical obligatoire
    scroll-behavior: smooth; // Transition douce lors du défilement}
}

// Section principale (chaque section occupe 100% de la hauteur de l'écran)
.manifesto-body section {
    height: 100vh !important;
    scroll-snap-align: start; // Permet d'aligner chaque section en début de page
    width: 100%;
    overflow: hidden; // Empêcher le scroll interne
}

// Conteneur des sections
.manifesto-sections-container {
    display: flex;
    margin-top: 6vh;
    width: 100% !important;
    height: 100vh;
    font-family: $title-font;
    margin-bottom: -3vh;
    overflow: hidden; // Désactiver le scroll interne
    border-bottom: 10px solid black;
}

// Chaque section occupe 100% de la hauteur et 33% de la largeur en écran large
.manifesto-section {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

// Style des images dans chaque section (prend toute la largeur et la hauteur)
.manifesto-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

// Contenu des sections
.manifesto-content {
    height: 50%; // Prend la moitié de la section
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Images dans le contenu des sections
.manifesto-content img {
    max-width: 100%; // Assurer que les images sont responsives
    height: auto;
    opacity: 1;
}

// Effet hover pour rendre le contenu plus visible
.manifesto-section:hover .manifesto-content {
    background-color: white; // Fond blanc au hover
}

// Chargement d'images spécifiques à chaque section
#index-section-1 .manifesto-image {
    background-image: url('../img/background/section-1.jpg');
}

#index-section-2 .manifesto-image {
    background-image: url('../img/background/section-2.jpg');
}

#index-section-3 .manifesto-image {
    background-image: url('../img/background/section-3.jpg');
}

// Remplacement des images par les carrés fournis
#index-section-1 .manifesto-content img {
    content: url('./assets/image/square/resto-square.png');
}

#index-section-2 .manifesto-content img {
    content: url('./assets/image/square/les-nicois-square.png');
}

#index-section-3 .manifesto-content img {
    content: url('./assets/image/square/date-square.png');
}

// Media Queries pour tablettes
@media (max-width: 768px) {
    .manifesto-section {
        width: 100%; // Chaque section prend toute la largeur
        height: 30vh; // Hauteur de 30vh sur les tablettes
        margin: 2px 0;
    }

    .manifesto-content img {
        max-width: 130%;
        height: 30vh;
    }
}

// Media Queries pour les petits écrans
@media (max-width: 480px) {
    .manifesto-section {
        height: 30vh;
    }

    .manifesto-content img {
        max-width: 100%;
    }

    .manifesto-image {
        height: 30vh;
    }
}

// Boutons pour les options (carte, réservation)
.restaurant-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    // border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.restaurant-button:hover {
    background-color: white;
    color: black;
}



// Style de la section Swiper
.manifesto-swiper-container {
    width: 100%;
    height: 100vh;
    padding: 20px !important;
    overflow: hidden; // Masquer les parties hors viewport
}


// Style des images dans les slides
.manifesto-swiper-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;

    .manifesto-html-content{
        width: 100%;
        height: 100vh;
        .manifesto-content{
            display: flex;
            flex-direction: column;
            font-family: "JeanLuc Thin";
            width: 100%;
            height: 100vh
        }
    }
}

// DESKTOP SWIPER

#manifesto-swiper-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white; // Mettre un fond blanc comme dans l'image d'origine

  .manifesto-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; // Centre le texte verticalement
    align-items: center; // Centre le texte horizontalement
    text-align: center;
    padding: 30px;
    z-index: 2;
    font-family: Arial, sans-serif;
    color: #000; // Couleur noire pour le texte
  }

  .manifesto-line {
    font-size: 4vw; // Ajustement de la taille pour une plus grande visibilité
    line-height: 1.2;
    margin: 0;
    width: 90%; // Pour que les lignes de texte ne touchent pas les bords
  }

  .manifesto-line:nth-child(1) {
    margin-bottom: 20px; // Espace entre les lignes de texte
  }

  // Pour les images ajoutées sur desktop
  .background-image {
    position: absolute;
    width: 25%;
    top: 50%; // Place l'image à la verticale au centre
    left: 50%;
    transform: translate(-50%, -50%); // Centrer l'image horizontalement
    z-index: 1;
  }

  // Si tu veux une image de fond plus grande
  .background-image-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

.little-manifesto{
    position: relative;
    font-size: 4vw;
    bottom: 30px !important;
}

#manifesto-swiper-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white; // Fond blanc comme la maquette
  
    .manifesto-content {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px;
      font-family: "JeanLuc Thin", sans-serif;
      color: #000;
      z-index: 2;
    }
  
    .large-text {
      font-size: 10vw; // Grande taille pour le texte "À TABLE"
      margin: 0;
      line-height: 1;
    }
  
    // Responsive - Ajustements pour les petits écrans
    @media (max-width: 768px) {
      .manifesto-html-content {
        display: none; // Cache la version HTML pour mobile
      }
    }
  }
  
#manifesto-swiper-2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
  
    .manifesto-content {
      position: relative;
      width: 100%;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; // Espace le texte entre le haut et le bas
      text-align: center;
      padding: 40px; // Ajuste le padding pour créer des espaces entre les bords
      z-index: 2;
      font-family: "JeanLuc Thin", sans-serif; // Utilise la police demandée
      color: #000; // Texte en noir
      margin-top: 10px;
    }
  
    .manifesto-line {
        font-size: 7.8vw; // Taille ajustée pour visibilité
        line-height: 0.8;
        margin: 0;
        width: 100%; // Le texte prend toute la largeur du conteneur
        text-align: justify; // Justification des lignes de texte
      }
    
      // Forcer la justification complète même pour la dernière ligne
      .manifesto-line::after {
        content: ''; // Élément vide
        display: inline-block;
        width: 100%; // Cet élément occupe toute la largeur pour forcer la justification
      }
  
    .manifesto-line:nth-child(1) {
      margin-bottom: 100px; // Augmente l'espacement entre le texte du haut et celui du bas
    }
  
    // Pour l'image qui se superpose au texte
    .background-image {
      position: absolute;
      width: 25%; // Taille de l'image
      text-align: justify; // Justifie le texte sur toute la largeur

      top: 35%; // Centre l'image au milieu de la zone
      left: 62%; // Aligne horizontalement au centre
      transform: translate(-50%, -50%); // La centrer exactement
      z-index: 3; // Positionne l'image au-dessus du texte
      opacity: 1; // Rendre l'image semi-transparente pour voir le texte en dessous
    }
  }

  #manifesto-swiper-3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
  
    .manifesto-content {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      padding: 40px;
      font-family: "JeanLuc Thin", sans-serif;
      color: #000;
      z-index: 2;
    }
  
    .manifesto-line {
      font-size: 6vw; // Gros texte à gauche
      line-height: 1;
      margin-bottom: 20px;
      position: relative;
      right: 100px;
      width: 60%; // Largeur du texte pour qu'il occupe la gauche
      float: left; // Positionne le texte à gauche
    }
  
    .manifesto-image-container {
      position: relative;
      width: 20%; // Taille de l'image
      margin-top: auto; // Pousse l'image en bas du conteneur
      float: right; // Positionne l'image à droite
      clear: both; // Pour que l'image ne chevauche pas le texte
      bottom: 100px;
      right: 180px;
    }
  
    .manifesto-image {
      width: 100%;
      height: auto;
    }
  
    .small-text {
      position: absolute;
      bottom: 80px; // Positionne le texte en bas de la page
      left: 1000px; // Le texte est aligné à droite
      font-size: 2vw; // Taille plus petite pour le crédit
      font-weight: normal;
    }
  }
  #manifesto-swiper-4 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white; // Fond blanc comme dans la maquette
  
    .manifesto-content {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      padding: 40px;
      font-family: "JeanLuc Thin", sans-serif; // Police spécifique
      font-weight: normal;
      color: #000;
      z-index: 2;
    }
  
    .manifesto-line {
      font-size: 4vw; // Ajustement fidèle pour correspondre à la taille du texte dans la maquette
      line-height: 1.2;
      margin-bottom: 30px;
      width: 100%; // Le texte prend toute la largeur disponible
    }
  
    .manifesto-image-container {
      position: relative;
      width: 15%; // Ajuste la taille de l'image
      margin: 0 auto; // Centre l'image par rapport à la ligne de texte
    }
  
    .manifesto-image {
      width: 100%;
      height: auto;
      display: block; // Assure que l'image est bien centrée
    }
  }
  
  
  

.manifesto-swiper-slide-container-mobile {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Transition fluide pour les slides
.swiper-wrapper {
    transition: transform 0.5s ease-in-out;
}



// Masquer les slides 9 à 12 sur mobile
@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }
}

// Couleurs associées aux images
.text-red {
    color: #FF0000;
}

.text-yellow {
    color: #FFD700;
}

.text-green {
    color: #228B22;
}

.text-brown {
    color: #8B4513;
}

.text-purple {
    color: #800080;
}

.text-violet {
    color: #9400D3;
}

.text-highlight {
    color: #000; // Noir par défaut
}

#logo-manifesto {
    transform: scale(0.4);
    margin: auto;
}

// Media Queries pour les petits écrans
@media (max-width: 768px) {
    h1 {
        font-size: 2.3rem !important;
    }

    .manifesto-sections-container {
        display: block;
        flex-direction: column;
        height: 100vh;
        font-size: 50%;
    }

    .manifesto-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 33.33%;
    }

    .manifesto-content {
        width: 50%;
        height: 33.33vh;

        h1, h2 {
            font-size: 220%;
        }
    }

    .manifesto-image {
        width: 50%;
        height: 33.33vh;
    }

    .manifesto-section-middle .manifesto-subtitle {
        font-size: 1rem !important;
        margin-top: -1px !important;
    }

    .restaurant-buttons button a {
        font-size: 1rem;
    }

    .manifesto-text-big .manifesto-text-block .manifesto-text {
        font-size: 6vw;
    }

    .manifesto-text-big .manifesto-text-block img {
        width: 80%;
        margin: 10px auto;
    }
}

// Popup Reservation 

/* Popup Reservation Frame */
.popup-reservation-frame {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70% !important;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none;
    overflow: scroll;
}

/* En-tête avec deux onglets (50% chacun) */
.popup-reservation-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid #ddd;
}

.popup-nav {
    display: flex;
    width: 100%;
}

.popup-nav-item {
    flex: 1; /* Chaque élément prend 50% */
    text-align: center;
    font-family: 'Apercu Mono';
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.popup-nav-item:last-child {
    border-right: none; /* Pas de bordure à droite pour le dernier onglet */
}

.popup-nav-item.active {
    background-color: white;
    color: #000;
}

.popup-reservation-close {
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

/* Le contenu de la popup */
.reservation-form-container {
    width: 100%;
}

.reservation-form {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Quand l'onglet "Privatisation" est actif, toute la zone de l'en-tête est blanche */
.popup-reservation-header.white-background {
    background-color: white; /* Le fond entier de l'en-tête devient blanc */
}

.popup-reservation-header.white-background .popup-reservation-close {
    color: black; /* Le bouton de fermeture devient noir */
}

.popup-reservation-header.white-background #reservation-tab {
    background-color: black; /* Réservation reste noir */
    color: white; /* Texte de réservation reste blanc */
}

/* Responsivité pour mobiles */
@media (max-width: 768px) {
    .popup-reservation-frame {
        width: 95%;
        height: 95vh;
        top: 2.5%;
        left: 2.5%;
        transform: none;
        border-radius: 10px;
    }
    
    .popup-reservation-header {
        height: 40px;
        padding: 10px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

    .popup-nav-item {
        font-size: 14px;
    }
    
    .popup-reservation-close {
        font-size: 24px;
        cursor: pointer;
        color: #555;
    }
}


//  Swxiper Slides 

.manifesto-slide {
    font-family: 'JeanLuc Thin', sans-serif;
    color: #000;
    background-color: red; /* Couleur de fond temporaire pour visualiser */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}

.manifesto-slide h1, .manifesto-slide h2, .manifesto-slide p {
    margin: 1rem 0;
}

.manifesto-slide h1 {
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.manifesto-slide h2 {
    font-size: 3vw;
    margin-top: 0.5rem;
}

.manifesto-slide p {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.manifesto-slide img {
    max-width: 50%;
    height: auto;
    margin-top: 1.5rem;
}

// WIP POPUP

/* Styles pour la popup */
.wip-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 700px;
    height: 90vh;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'JeanLuc Thin';
}

/* Header de la popup */
.wip-popup-header {
    padding: 15px;
    background-color: black;
    color: white;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wip-popup-title {
    font-size: 4rem;
    margin: 0;
}

.wip-popup-close {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    left: 96%;
}

/* Corps de la popup */
.wip-popup-body {
    padding: 20px;
    text-align: center;
}

/* Texte au-dessus et en dessous de l'image */
.wip-popup-text {
    font-size: 4rem;
    margin-top: -30px;
    text-transform: uppercase;
}

.wip-popup-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    .wip-popup {
        width: 95%;
        height: 100vh;
    }

    .wip-popup-header {
        font-size: 1.2rem;
        padding: 10px;
    }

    .wip-popup-close {
        font-size: 1.5rem;
    }

    .wip-popup-body {
        padding: 15px;
    }

    .wip-popup-text {
        font-size: 1.2rem;
    }

    .wip-popup-image {
        width: 100%;
        height: auto;
    }
}

.grab {
    cursor: pointer;  /* Curseur main ouverte */
}

/* Icône de main fermée quand l'utilisateur "grab" */
.grabbing {
    cursor: grabbing;  /* Curseur main fermée */
}



/* Animation des boutons "La carte" et "Réserver" */
.restaurant-buttons.menu-active .restaurant-button a {
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Boutons par défaut */
.restaurant-button a {
    background-color: initial; /* Couleur de fond initiale */
    color: initial; /* Couleur de texte initiale */
    transition: background-color 0.5s ease, color 0.5s ease;
}
/* Styles pour le bouton Play/Pause dans la navigation */


// info et encart. 

/* Cercle central avec le bouton "Infos" */
#info-button {
    position: fixed; /* Fixed pour le positionner en bas à droite de l'écran */
    bottom: -70px;
    z-index: 1999999;

    right: -70px;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
    font-family: 'Apercu Mono';
    
    i{
        position: relative;
        bottom: 25px;
        right: 25px;
        font-size: 2rem;
    }

    p:hover{
        transform:scale(1.1);
        transform: rotate(-45deg);
        position: relative;
        margin: auto;
        left: -30px;
        top: -30px;
    }
}

/* Pour les écrans de taille entre 1280px et 1920px (écrans moyens à grands) */
@media (min-width: 1280px) and (max-width: 1920px) {
    #info-button {
        bottom: -70px;
        right: -70px;
        width: 150px;
        height: 150px;

        i{
            position: relative;
            bottom: 25px;
            right: 25px;
            font-size: 2rem;
        }
    }

    #info-menu {
        bottom: -400px;
        right: -400px;
        width: 400px;
        height: 400px;
    }
}

/* Pour les écrans de taille entre 768px et 1280px (tablettes et petits écrans) */
@media (min-width: 768px) and (max-width: 1280px) {
    #info-button {
        bottom: -50px;
        right: -50px;
        width: 120px;
        height: 120px;

    }

    #info-menu {
        bottom: -320px;
        right: -320px;
        width: 320px;
        height: 320px;
    }
}

/* Pour les petits écrans (mobile, max-width 768px) */
@media (max-width: 768px) {
    #info-button {
        bottom: -40px;
        right: -40px;
        width: 100px;
        height: 100px;

        i{
            position: relative;
            bottom: 15px;
            right: 15px;
            font-size: 2rem;
        }
    }

    #info-menu {
        bottom: -250px;
        right: -250px;
        width: 250px;
        height: 250px;
    }

    .quarter {
        font-size: 0.8rem; /* Ajustement de la taille du texte sur mobile */
    }
}

/* Cercle extérieur contenant les liens */
#info-menu {
    position: fixed; /* Fixed pour le garder lié à l'écran, même comportement que le bouton */
    bottom: -300px; /* Le décale pour qu'il soit centré derrière le bouton */
    right: -300px;
      /* Même chose, centré derrière le bouton */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 999999;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 999999;
    background-color: white;
    transform: scale(0); /* Initialement invisible avec scale(0) */
    transition: transform 0.5s ease-in-out; /* Animation d'agrandissement */
    font-family: 'JeanLuc Thin';
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Curseur de main ouverte */
#info-menu.grab {
    cursor: grab;
}

/* Curseur de main fermée */
#info-menu.grabbing {
    cursor: grabbing;
}


/* Chaque quart avec une bordure */
.quarter {
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Supprimer les bordures inutiles pour les quarts spécifiques */
#quarter2, #quarter4 {
    border-right: none;
}
#quarter3, #quarter4 {
    border-bottom: none;
}

/* Lien textuel dans chaque quart */
.circle-link {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

/* Ajuste chaque lien en fonction de son emplacement dans le cercle */
#quarter1 .circle-link {
    transform: rotate(-45deg);
}
#quarter2 .circle-link {
    transform: rotate(45deg);
}
#quarter3 .circle-link {
    transform: rotate(215deg);
}
#quarter4 .circle-link {
    transform: rotate(135deg);
}

// SOON.HTML

.soon-body {
    overflow: hidden;
}

.soon-container {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    font-family: 'JeanLuc Thin';
    font-size: 2.5rem;
    overflow: hidden;
    text-align: center;
    height: 96vh;
    margin-top: -10px;
}

.soon-small-text {
    font-size: 2.7rem;
    position: relative;
    bottom: 25px;
}

/* Style pour le conteneur d'image */
.soon-image-container {
    margin: -60px 0;
}

/* Image au centre */
.soon-main-image {
    width: 60%;
    max-width: 700px;
    height: auto;
}

/* Texte en bas */
.soon-bottom-text {
    margin-top: -40px;
}

/* Media Queries */

/* Pour les écrans de bureau larges */
@media (min-width: 1200px) {
    .soon-container {
        font-size: 3rem;
    }

    .soon-small-text {
        font-size: 3rem;
    }

    .soon-bottom-text {
        font-size: 4rem;
    }

    .soon-main-image {
        width: 50%;
    }
}

/* Pour les écrans de taille moyenne (tablettes) */
@media (max-width: 992px) {
    .soon-container {
        font-size: 2rem;
    }

    .soon-small-text {
        font-size: 2.5rem;
    }

    .soon-bottom-text {
        font-size: 3rem;
        margin-top: -30px;
    }

    .soon-main-image {
        width: 70%;
        max-width: 600px;
    }
}

/* Pour les petits écrans (mobiles) */
@media (max-width: 768px) {
    .soon-container {
        font-size: 1.5rem;
    }

    .soon-small-text {
        font-size: 2rem;
    }

    .soon-bottom-text {
        font-size: 2.5rem;
        margin-top: -20px;
    }

    .soon-main-image {
        width: 80%;
        max-width: 400px;
    }
}

/* Pour les très petits écrans (mobiles compacts) */
@media (max-width: 480px) {
    .soon-container {
        font-size: 1.2rem;
        margin: 5vh auto;
    }

    .soon-small-text {
        font-size: 1.7rem;
    }

    .soon-bottom-text {
        font-size: 2rem;
        margin-top: -15px;
    }

    .soon-main-image {
        width: 90%;
        max-width: 300px;
    }
}

// RADIO.HTML

/* Styles pour radio.html */
body.radio-body .transition-content{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'YourPrimaryFont'; /* Assure-toi que cette police est bien importée */
    overflow-y: hidden; /* Désactiver le scroll pour que tout soit centré verticalement */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de 100% pour centrer verticalement */

    .radio-player-info{
        width: 100%;
        margin-top: -150px;
        text-align: center;
    }
}

/* Section centrale pour le logo et le player */
.radio-section {
    width: 100%;
    text-align: center;
}

.radio-title {
    font-size: 15rem; /* Taille plus grande du titre */
    color: white;
    font-family: 'JeanLuc Thin'; /* Police spécifique */
    letter-spacing: 5px;

    span {
        font-size: 6rem; /* Taille réduite pour le sous-titre */
        display: block;
    }
}



/* Styles pour le bouton play/pause */
.radio-player-info {
    display: flex;
    align-items: center;
    gap: 55px; /* Espacement entre les boutons */
    justify-content: center;
}

.radio-button {
    background-color: transparent;
    border: none;
    font-size: 80px; /* Taille des icônes */
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.radio-button:hover {
   -webkit-text-stroke: 4px white;
   color: black; /* Couleur au survol */
}

/* Style pour la popup du contrôle du volume */
.volume-popup {
    display: none; /* Masquée par défaut */
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    padding: 20px 10px 30px 10px;
    z-index: 100;
    border: 4px solid white;

}

.volume-popup.active {
    display: block; /* Afficher la popup quand active */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .radio-title {
        font-size: 3rem; // Réduction du titre pour tablette
    }

    .radio-buttons-container {
        flex-direction: column; // Boutons sous le player
        align-items: center;
        gap: 10px;
        
        .radio-player-info {
            margin-top: 15px;
        }
    }

    .volume-popup {
        width: 150px;
        padding: 8px;
    }
}

@media (max-width: 480px) {

    .radio-header{
        img{
            transform: scale(0.6);
        }
    }

    .volume-popup {
        width: 120px;
        padding: 6px;
    }

    .radio-player-info{
        position: relative;
        top: 20vh;
    }

    #info-button {
        width: 60px;
        height: 60px;
        font-size: 0.7rem;
    }

    .outer-circle {
        width: 120px;
        height: 120px;
    }

    .outer-circle .circle-link {
        font-size: 0.8rem;
    }
}




// Gestionnaire de volume 



.control-box .icon {
	font-size: 24px;
	color: white;
	transition: .3s ease-in-out;

}


.volume-control {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: baseline;
    justify-content: center;
}
.volume-control .speker {
	font-size: 90px;
	font-weight: 600;
	line-height: 1;
	color: black;
	transition: .3s ease-in-out;	
	/* Contour blanc autour du texte (icône) */
	-webkit-text-stroke: 4px white;

	/* Fond noir pour l'icône */
	display: inline-block;
	padding: 10px;
}

.control-box.volume-on .volume-control .speker {
	color: white;
}
.volume-control .bars {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-left: 20px;
	width: 160px;
	height: 80%;
}
.volume-control .bars .bar {
	width: 14%;
	margin: 0 3%;
	border: 4px solid white;
    background-color: #000;	transition: .3s ease-in-out;
}
.volume-control .bars .bar:nth-child(1) {
	height: 20%;
}
.volume-control .bars .bar:nth-child(2) {
	height: 40%;
}
.volume-control .bars .bar:nth-child(3) {
	height: 60%;
}
.volume-control .bars .bar:nth-child(4) {
	height: 80%;
}
.volume-control .bars .bar:nth-child(5) {
	height: 100%;
}
.volume-control .bars input[type=range] {
	position: absolute;
	left: -10%;
	width: 110%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.volume-control.volume-20 .bars .bar:nth-child(1),
.volume-control.volume-40 .bars .bar:nth-child(1),
.volume-control.volume-60 .bars .bar:nth-child(1),
.volume-control.volume-80 .bars .bar:nth-child(1),
.volume-control.volume-100 .bars .bar:nth-child(1),

.volume-control.volume-40 .bars .bar:nth-child(2),
.volume-control.volume-60 .bars .bar:nth-child(2),
.volume-control.volume-80 .bars .bar:nth-child(2),
.volume-control.volume-100 .bars .bar:nth-child(2),

.volume-control.volume-60 .bars .bar:nth-child(3),
.volume-control.volume-80 .bars .bar:nth-child(3),
.volume-control.volume-100 .bars .bar:nth-child(3),

.volume-control.volume-80 .bars .bar:nth-child(4),
.volume-control.volume-100 .bars .bar:nth-child(4),

.volume-control.volume-100 .bars .bar:nth-child(5) {
    background-color: white;
}


// Newsletter Body 
.newsletter-body {
    background: #FFF url('https://subtlepatterns.com/patterns/geometry.png') repeat;
    font-family: 'JeanLuc Thin';
    font-weight: 400;
    overflow: hidden;

    form {
        position: relative;
        margin: 50px auto 0;
        width: 600px; 
        padding: 50px;
        z-index: 2; /* Pour s'assurer que le texte est au-dessus du ::before */


        &:before {
            content: "";
            background: rgba(0, 0, 0, 1);
            display: block;
            width: 500px;
            height: 2000px;
            position: absolute;
            z-index: -1;
            transform: rotate(45deg);
            top: -500px;
            left: 380px;
        }
    }

    label[for="email"] {
        display: block;
        padding: 20px 0;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 10px;
        text-transform: uppercase;
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;
        margin-bottom: 20px;
        width: 30%;
        transition: all 200ms ease;

        &:hover {
            width: 40%;
        }
    }

    input:focus {
        outline: 0;
    }

    input[type="email"] {
        background: #FFF;
        border: 0;
        width: 320px;
        padding: 30px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        float: left;
        font-family: 'JeanLuc Thin';
    }

    input[type="submit"] {
        color: #FFF;
        background: linear-gradient(to right, #000 50%, white 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        border: 0;
        width: 180px;
        padding: 30px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 200ms ease;
        border: 2px solid black;
        font-family: 'JeanLuc Thin';


        &:hover {
            background-position: right bottom;
            color: #000;
        }
    }
}

//INSTAGRAM

/* La section prend toute la hauteur de l'écran */
.manifesto-ig-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 90px !important;
    padding: 50px !important /* Ajustez la valeur selon l'espacement souhaité */

}

.angry-grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit le conteneur sans déformation */
    display: block;
    box-sizing: border-box;
}

.angry-grid {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 10px;
    height: 100%;  
    
    div {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1; /* Rend chaque conteneur d'image carré */
    }
 }
   
 #item-0 {
 
    background-color: #7D6567; 
    grid-row-start: 1;
    grid-column-start: 5;
 
    grid-row-end: 3;
    grid-column-end: 7;

    
 }
 #item-1 {
 
    grid-row-start: 2;
    grid-column-start: 7;
 
    grid-row-end: 3;
    grid-column-end: 8;

    
 }
 #item-2 {
 
    grid-row-start: 2;
    grid-column-start: 8;
 
    grid-row-end: 3;
    grid-column-end: 9;

    
 }
 #item-3 {
 
    grid-row-start: 3;
    grid-column-start: 5;
 
    grid-row-end: 5;
    grid-column-end: 7;
    
 }
 #item-4 {
 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 5;
    
 }
 #item-5 {
 
    grid-row-start: 1;
    grid-column-start: 7;
 
    grid-row-end: 2;
    grid-column-end: 8;
    
 }
 #item-6 {
 
    background-color: #7B7966; 
    grid-row-start: 3;
    grid-column-start: 7;
 
    grid-row-end: 4;
    grid-column-end: 8;
    
 }
 #item-7 {
 
    grid-row-start: 4;
    grid-column-start: 7;
 
    grid-row-end: 5;
    grid-column-end: 8;
    
 }
 #item-8 {
    background-color:white; 
    grid-row-start: 4;
    grid-column-start: 8;
 
    grid-row-end: 5;
    grid-column-end: 9;
    padding-top: -20px;
    
 }
 #item-9 {
 
    background-color: #E8ACA8; 
    grid-row-start: 3;
    grid-column-start: 8;
 
    grid-row-end: 4;
    grid-column-end: 9;
    
 }
 #item-10 {
     grid-row-start: 1;
    grid-column-start: 8;
 
    grid-row-end: 2;
    grid-column-end: 9;
    
 }

 .manifesto-ig-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

.manifesto-ig-logo:hover{
    transform: scale(1.04);
}

.manifesto-ig-instagram-logo {
    width: 60%;
    height: auto;
    border-radius: 20%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.manifesto-ig-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.manifesto-ig-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Apercu Mono', monospace;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#item-11, #item-12, #item-13{
    display: none;
}
@media (max-width: 768px) {
    .manifesto-ig-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        margin-top: 10px !important;
        padding: 10px !important /* Ajustez la valeur selon l'espacement souhaité */
    
    }
    .angry-grid {
        display: grid; 
     
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        gap: 10px;
        height: 100%;
        
     }
       
     #item-0 {
     
        background-color: #BAD666; 
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 5;
        grid-column-end: 5;
        
     }
     #item-1 {
     
        background-color: #58BDAD; 
        grid-row-start: 5;
        grid-column-start: 1;
     
        grid-row-end: 7;
        grid-column-end: 3;
        
     }
     #item-2 {
     
        background-color: #BB9575; 
        grid-row-start: 5;
        grid-column-start: 3;
     
        grid-row-end: 7;
        grid-column-end: 5;
        
     }
     #item-3 {
     
        background-color: #989EA8; 
        grid-row-start: 7;
        grid-column-start: 1;
     
        grid-row-end: 8;
        grid-column-end: 2;
        
     }
     #item-4 {
     
        background-color: #7DB57C; 
        grid-row-start: 7;
        grid-column-start: 2;
     
        grid-row-end: 8;
        grid-column-end: 3;
        
     }
     #item-5 {
     
        background-color: #75BD79; 
        grid-row-start: 7;
        grid-column-start: 3;
     
        grid-row-end: 8;
        grid-column-end: 4;
        
     }
     #item-6 {
     
        background-color: #DE9F79; 
        grid-row-start: 7;
        grid-column-start: 4;
     
        grid-row-end: 8;
        grid-column-end: 5;
        
     }
     #item-7 {
     
        background-color: #FB78B9; 
        grid-row-start: 8;
        grid-column-start: 1;
     
        grid-row-end: 9;
        grid-column-end: 2;
        
     }
     #item-8 {
     
        background-color: #5CEBBA; 
        grid-row-start: 8;
        grid-column-start: 2;
     
        grid-row-end: 9;
        grid-column-end: 3;
        
     }
     #item-9 {
     
        background-color: #59EFB7; 
        grid-row-start: 8;
        grid-column-start: 3;
     
        grid-row-end: 9;
        grid-column-end: 4;
        
     }
     #item-10 {
     
        background-color: #6D69DC; 
        grid-row-start: 8;
        grid-column-start: 4;
     
        grid-row-end: 9;
        grid-column-end: 5;
        
     }
}



// SHOP  HTML
@media (max-width: 768px) {
    /* Conteneur principal */
    .soon-container {
        padding: 20px;
        text-align: center;
    }

    /* Texte en haut */
    .soon-top-text h1 {
        font-size: 6.8rem !important; /* Réduire la taille pour l'adapter */
        line-height: 0.8;
    }

    .soon-small-text {
        font-size: 3rem;
        bottom: 40px;
        left: 20px;
    }

    /* Image principale */
    .soon-image-container {
        margin: 20px auto;
        width: 90%;
    }

    .soon-main-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: -70px;
    }

    /* Texte en bas */
    .soon-bottom-text h2 {
        font-size: 6.8rem;
        line-height: 0.8;
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .soon-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Texte en haut */
    .soon-top-text h1 {
        font-size: 2.2rem;
    }

    .soon-small-text {
        font-size: 1.1rem;
    }

    /* Image principale */
    .soon-image-container {
        margin: 30px auto;
        width: 80%;
    }

    .soon-main-image {
        width: 100%;
        height: auto;
    }

    /* Texte en bas */
    .soon-bottom-text h2 {
        font-size: 1.7rem;
    }
}

/* Style de base des boutons */
.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JeanLuc Thin', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: fixed; /* Positionnement fixe pour rester en place lors du défilement */
    top: 5vh; /* 5vh du haut de la page */
    z-index: 1000; /* Pour s'assurer qu'ils sont au-dessus du contenu */
}

/* Positionnement spécifique pour chaque bouton */
.swiper-button-prev {
    left: 50%; /* Position initiale au centre */
    transform: translateX(-60px); /* Décale vers la gauche avec un espace de 20px */
}

.swiper-button-next {
    left: 50%; /* Position initiale au centre */
    transform: translateX(20px); /* Décale vers la droite avec un espace de 20px */
}

/* Supprime le contenu par défaut de Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev::before {
    content: '<';
}

.swiper-button-next::before {
    content: '>';
}







